* {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif !important; 
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width:100%;
    height: auto;
}

.input {
    font-size: inherit;
}